# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
*.csv
tests.py

# OS files
.DS_Store
Thumbs.db

# dotenv environment variables
.env 